.cc-background {
background-image: url('/public/img/background.png');
background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
}
.cc-index-card {
width: 40rem;
padding-top: 2rem;
padding-bottom: 4rem;
margin-top: 5rem;
font-family: 'Karla', sans-serif;
}
.cc-index-text {
padding-bottom: 1rem;
font-family: 'Karla', sans-serif;
}
.cc-index-bottom-buttons{
margin-top: 1rem;
}
.cc-card-alignment {
}
.cc-card-header {
font-family: 'Karla', sans-serif;
}
.cc-vocab-body {
padding-top: 2rem;
padding-bottom: 3rem;
}
.cc-vocab-word {
padding-bottom: 0.5rem;
font-family: 'Noto Sans SC', sans-serif;
}
.cc-input-result {
font-family: 'Noto Sans SC', sans-serif;
}
.cc-vocab-answer {
font-family: 'Noto Sans SC', sans-serif;
}
.cc-text-field {
font-family: 'Karla', sans-serif;
}
.cc-submit-button {
font-family: 'Karla', sans-serif;
}
.cc-next-button {
font-family: 'Karla', sans-serif;
display: inline-block;
vertical-align: middle;
}
.cc-shuffle-button-icon {
display: inline-block;
vertical-align: middle;
}