.cc-index-card {
    width: 40rem;
    padding-top: 2rem;
    padding-bottom: 4rem;
    margin-top: 5rem;
}

.cc-index-text {
    padding-bottom: 1rem;
}

.cc-index-bottom-buttons{
    margin-top: 1rem;
}
.cc-card-alignment {
    
}

body {

}