<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/png" href="/public/img/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Karla&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">
    <title>TOCFL Flash Cards</title>
  </head>
  <body class="cc-background">
    <nav class="navbar navbar-light bg-transparent justify-content-center">
      <a class="navbar-brand" href="/">
        <img src="/public/img/logo.png" alt="Help Me Learn Chinese" style="width:200px;height:48px;">
      </a>
    </nav>
    <div class="container">
      <div class="card mx-auto cc-index-card cc-card-alignment">
        <h6 class="text-center cc-index-text">What vocab level do you want to work with?</h6>
        <div class="row justify-content-center">
          <div class="col-3 text-center">
            <a class="btn btn-outline-info btn-block" href="cards?level=1" role="button">Level 1</a>
          </div>
          <div class="col-3 text-center">
            <a class="btn btn-outline-info btn-block" href="cards?level=2" role="button">Level 2</a>
          </div>
          <div class="col-3 text-center">
            <a class="btn btn-outline-info btn-block" href="cards?level=3" role="button">Level 3</a>
          </div>
        </div>
        <div class="row justify-content-center cc-index-bottom-buttons">
          <div class="col-3 text-center">
            <a class="btn btn-outline-info btn-block" href="cards?level=4" role="button">Level 4</a>
          </div>
          <div class="col-3 text-center">
            <a class="btn btn-outline-info btn-block" href="cards?level=5" role="button">Level 5</a>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" ></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</html>